{% extends "layout.html" %} 

{% block title %} 
    <h1>User Login</h1>
{% endblock %} 

{% block content %}
    <section>
        <h1>User Login</h1>
        <form class="form-with-validation" action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            {{ form }}
            {% comment %} Code below is to check if there is a 'next' parameter in the url {% endcomment %}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %} 
            <button class="form-submit">Submit</button>
        </form>
    </section>
{% endblock %}
